// Color
term = "xterm-256color"
theme = GruvboxDark

// Text
font-family = "HackGen Console NF"
font-size = 12.5
adjust-cell-height = 10%

// Window
background-opacity = 1
window-padding-x = 6
window-padding-y = 6,0
window-decoration = none
macos-titlebar-style = hidden

// Behaviors
mouse-hide-while-typing = true
confirm-close-surface = false

// Keybinding
keybind = "global:alt+space=toggle_quick_terminal"
